html {
	scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Roboto Condensed', sans-serif;
	  font-size: 1.2rem;
    height: 125vh;
    background-image: url('');
    background-size: cover;
    font-family:  Ubuntu;
    margin:0;
    padding:0;
  }
  
  /*======= For all section's title======== */
  .section-title {
	  font-size: 3rem;
  }
  
  /*============ Navigation ===========*/
  .navbar{
    background-color: white;
    color:#0B2447 !important;
    font-weight: 600 !important;
    border-top: 4px solid rgb(46, 96, 146);
    border-bottom: 2px solid rgb(46, 96, 146);
  }
  .nav-item a{
    color: #0B2447 !important;
  }
  .nav-item a:hover{
    border-bottom: 2px solid #279f2d;
    padding-bottom: 4px;
    color: #19376D !important;  }
  .nav-item {
    padding-left: 10px;
  }
  .navbar-brand{
    color: #fff !important;
    padding-left: 0px;
  }
  #navbar button{
    color: #fff !important;
  }
/* ==============END OF NAVBAR ================ */



  /*=============== Main Section============== */
  
  .carousel-item {
	  padding: 7% 15%;
  }
  .carousel-item h4 {
	  font-size: 2rem;
    color: rgb(235, 245, 245);
  }
  .one{
    padding-bottom: 50px;
  }
  .un{
    padding-left: 20px;
  }
  #main {
	  background-color: white;
	  height: 680px;
    background-color: #0B2447;
    color: #fff !important;
    padding-top: 80px;
    padding-bottom: 80px;
    
  }
  .header-main {
	  margin-top: 30px;
  }
  .header-info {
   font-size: 4rem;
   font-weight: 400;
   background-image: linear-gradient(to right, #a6d1f4, white,#9cc2f5);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   text-align: center;
  }
  .btn-outline-light {
	  margin-left: 20px;
  }
  .btn-space {
	  margin-top: 20px;
  }
  .btn {
    border-bottom: 2px solid #a96700;
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-size: 18px;
    background-color:white;
    color: #19376D !important;
    font-weight: 700 !important;
    margin-left: 50px;
}
.btn:hover{
  color: 576CBC !important;
  border-bottom:3px solid rgb(165, 10, 31);
  font-weight: 300px;
}
 
.deku{
  width: 700px;
  height: 550px;
}

/* ==============Image section of the main================ */
.Phone1 {
transform: rotate(20deg);
height: auto;
width: 320px;
display: block;
}
/* =============END OF SECTION STYLING ============== */
 

/*========= products============ */
#Work{
	padding-top: 80px;
	padding-bottom: 80px;
}

#Work h1{
	padding-bottom: 70px;
}
#Work-col2 ul{
	padding-top: 100px;
}






  /*=========== Overview============== */
  .info-width {
	  width: 60%;
	  font-size: 1.3rem;
  }
  .overview-icon {
	  font-size: 3rem;
	  color: #1f02a1;
  }
  .overview-row {
	  margin-top: 5rem;
  }
  .overview-header {
	  font-weight: 900;
  }
  .overview-icon, .overview-header, .info-width {
	  padding: 1rem 0;
  }
  

  /* Pricing */
  /* #pricing {
	  margin-top: 100px;
	  padding: 100px 0;
  }
  .pricing-title {
	  margin-bottom: 100px;
  }
  .card {
	  box-shadow: 0px 3px 63px -12px rgba(0, 0, 0, 0.75);
	  border-color: #5a34fc;
	  border-radius: 10px;
  }
  .card-body {
	  padding: 7% 0;
  }
  .pricing-text {
	  color: #5a34fc;
	  font-size: 2rem;
	  font-weight: bold;
	  padding: 5% 0%;
  }
  .btn-block {
	  font-size: 1.5rem;
  } */
  
  /* Call To Action */
  /* #cta {
	  background-color: #5a34fc;
	  padding: 7% 15%;
  }
  .cta-text {
	  font-weight: bold;
	  font-size: 3rem;
	  color: #fff;
  }
   */
  /* Footer */
  #footer {
	  height: 150px;
  }
  .footer-icon {
	  font-size: 2rem;
	  color: #5a34fc;
	  padding: 5% 3%;
  }


/*Start Footer*/
footer {
  background-color: #0B2447;
  padding: 20px;
  margin: auto;
  height: inherit;
}

footer h2 {
  font-size: 20px;
  letter-spacing: 2.9px;
  color: white;
  text-align: center;
}
footer .social-media .links a {
  margin: 0 10px;
  font-size: 25px;
  color: white;
}
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
  
    #main {
      height: 800px;
     padding-bottom: 0;
     padding-top: 20px;
      
    }
	  .iphone-mock {
		  height: 410px;
      width: 250px;
      display: block;
      transform: rotate(20deg);
	  }
    .header-info {
      font-size: 40px !important;
      font-weight: 500;
     
     }
    #Work-col2 ul{
      padding-top: 50px;
    }
    .overview-icon, .overview-header, .info-width {
      padding-top: 1rem;
      padding-bottom: 0;
    }
	  .card {
		  margin: 20px 0;
	  }
	  .header-info {
		  font-size: 2rem;
	  }
	  .btn-outline-light {
		  margin-left: 0px;
	  }
	  #footer {
		  height: 100px;
	  }
    .deku{
      width: 300px;
      height: 300px;
      padding: 0;
    }
  }